:root {
    --light-color: rgb(255, 204, 204);
    --bright-color: rgb(255, 182, 193);
    --dark-color: rgb(255, 160, 182);
    --shadow-color: rgb(238, 130, 163);
    --tint-color: rgb(255, 128, 160);
    --credits-color: rgb(244, 81, 108);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
}

body {
    background: linear-gradient(to bottom,
            var(--dark-color),
            var(--bright-color));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    width: 80%;
    max-width: 600px; /* Adjust the max-width to fit your design */
}

h1 {
    color: var(--credits-color);
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--tint-color);
}

input {
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    font-size: 16px;
}

.counter {
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--credits-color);
}

